body{
    background-color: rgba(86, 41, 164, 0.382);
}

.top {
    align-content: center;
    background-position: top;
    
    
}
.topb {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-spacing: 5px;
    
}
.down {
    background-color: rgba(99, 39, 141, 0.462);
}

table{
    width: 100%;
}